body {
    font-family: 'Manrope', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E6E6FA;
}

header, nav, main, footer {
    padding: 20px;
    margin: 0 auto;
    max-width: 800px;
}

.button, button {
    font-family: 'Manrope', sans-serif;
    background-color: white;
    color:rgba(103, 96, 240);
    width: auto;
    text-decoration: none;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}
.button:hover, button:hover {
    font-family: 'Manrope', sans-serif;
    background-color: rgba(103, 96, 240, 0.88);
    color:white;
    width: auto;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;

}

header {
    background-color: #f8f9fa;
    border: 1px solid #3D3D3D;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.8em;
    color: #6c757d;
}

