{% extends "base_generic_small.html" %}

{% block title %}Home - DreamCatcher🫧{% endblock %}

{% block content %}
    <div class="container">
        <h2>What would you like to do?</h2>
        <nav class="menu">
            <ul>
                <li class="cloud"><a href="{% url 'dreams:log_dream' %}">Log a new dream</a></li>
                <li class="cloud"><a href="{% url 'dreams:gallery' %}">Look at the Dream Gallery</a></li>
                <li class="cloud"><a href="{% url 'dreams:dream_journal' %}">Browse your dream journal</a></li>
                <li class="cloud"><a href="{% url 'dreams:personal_statistics' %}">Check your personal statistics</a></li>
            </ul>
        </nav>
    </div>
{% endblock %}
