{% extends "base_generic_small.html" %}

{% block title %}Home - DreamCatcher🫧{% endblock %}

{% block content %}
    <div class="container">
        <p>Welcome, {{ user.username }}!
            Let's take a journey into your subconscious. </p> #this does not work yet
        <h2>What would you like to do?</h2>
        <p>Log a new dream <a class="btn btn-primary" href="{% url 'dreams:log_dream' %}">here</a></p>
        <p>Fill out <a class="btn btn-primary" href="{% url 'dreams:questionnaires' %}">questionnaires</a></p>
        <p>Browse through your <a class="btn btn-primary" href="{% url 'dreams:dream_journal' %}">dream journal</a></p>
        <p>Get insight into your <a class="btn btn-primary" href="{% url 'dreams:personal_statistics' %}">personal statistics</a></p>
    </div>
{% endblock %}
